html, body {
    margin: 0;
    padding: 0;
}

body {
    width: 380px;
    min-height: 280px;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    background: #ecf0f1;
}

*{
    list-style: none;
    padding: 0px;
    margin: 0px;
    color: #FFFFFF;
    text-decoration: none;
}

/*Главная*/
.main-menu > li{
    background-color: #2980B9;
    border-bottom: 2px solid #2C3E50;
    position:relative;
    padding: 10px 15px;
    width: 170px;
}

/*Сабменю*/

.main-menu .sub-menu {
    display: none;
    background-color: #1ABC9C;
    position: absolute;
    top: 0px;
    left: 180px;
    z-index: 10;
}

.main-menu .sub-menu li{
    width: 170px;
    border-bottom: 2px solid #2ECC71;
    padding: 10px 15px;
}

/*Ховер*/
.main-menu > li:hover{
    background-color: #1ABC9C;
}

.main-menu > li:hover .sub-menu{
    display: block;
}

